/* --------
    Font 
----------*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

 /*--------------
    Common Part
  --------------*/

body{
    font-family: 'Work Sans', sans-serif;
    background-color: white;
}

/*------------
  Header Part
-------------*/

.header{
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}
.nav-title{
    width: 302px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    padding-top: 40px;
}
nav{
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
    padding-right: 100px;
}
nav li{
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-align: center;
}

/*-------------
  Banner Part
-------------*/

.banner{
    display: flex;
    flex-direction: column;
}
.banner-details{
    text-align: center;
    width: 868px;
    padding-left: 25%;
    padding-right: 20%;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313; 
}
.banner-description{
    width: 868px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.btn-primary{
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    border: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}
.banner-img{
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 10%;
}

/*-------------------
    Main Part
------------------- */

  /* ----Section 01---- */

.section-1{
    display: flex;
    margin-top: 75px;
    margin-bottom: 200px;
}
.section-1-photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 24px;
    border-radius: 10px;
    padding-left: 300px;
}
.section-1-photo img{
    width: 342px;
    height: 342px;
}
.section-1-container{
    width: 537px;
    padding-left: 73px;
    margin-top: 200px;
}
.section-1-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}
.section-1 .text-color-1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.section-1 .text-color-2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #FF900E;
}
.section-1-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 32px;
}
#btn-1{
    margin-top: 0;
}

/*------------
  Section 02
-------------*/
/* .section-2{
    width: 1440px;
    margin-top: 120px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 200px);
    margin-bottom: 800px;
}
.section-2-containers{
    display: flex;
    gap: 130px;
}
.section-2-header{
    margin-bottom: 20px;
    display: flex;
}
.section-2-container-1{
    margin-top: 0px;
}
.hr{
    border-left: 8px solid #FF900E;
    width: 10px;
    height: 150px;
    margin-top: 65px;
}
.section-2-containers-title{
    width: 568px;
    height: 150px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 0px;
    margin-bottom: 50px;
    
}
.section-2-containers-discription{
    width: 586px;
    height: 100px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-left: 10%;  
}
.section-2-container{
    width: 586px;
    height: 164.86px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left: 30px;
    padding-top: 10px;
}
.section-2-container-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.section-2-container-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;    
}
.section-2-container-2{
    margin-top: 50px;
    
}
    

.btn-2{
    width: 342px;
    height: 192.82px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto; 
    margin-left: ;
}
#btn2{
    font-weight: 700;
    font-size: 65px; 
    
} */
.section-2{
    width: 1440px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 200px);
    margin-left: 10%;
    margin-top: 130px;
}
.section-2-container-1{
    display: flex;
    margin-top: 0px;
}
.vl{
    border-left: 6px solid #FF900E;
    width: 0px;
    height: 140px;
    margin-left: 10%;
    margin-top: 60px;
}
.section-2-containers-title{
    width: 668px;
    height: 140px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 0px;
    margin-left: 21px;
}
.section-2-containers-discription{
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 10%;
    color: #727272;
}
.section-2-containers-discription{
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-left: 10%;
    color: #727272;
}
.section-2-img{
    width: 708px;
    margin-left: 136px;
    border-radius: 8px;
}
.section-2-conatainer-main{
    width: 586px;
    height: 171px;
    margin-top: 100px;
    margin-left: 10%;
}
.section-2-container{
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-left: 30px;
}
.section-2-container-title{
    width: 281px;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.section-2-container-description{
    width: 514px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.btn-2{
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;

    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    margin: 80% 0 0% 0px;
}
#btn-2{
    font-weight: 700;
    font-size: 65px;
}

/*-------------------
     Section -3
--------------------*/
.section-3{
    width: 1440px;
    margin-left: 15%;
    margin-top: 550px;
}
.section-3-containers-1-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.section-3-containers-1-description{
    width: 542px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}
.section-3-containers-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.section-3-container{
    box-sizing: border-box;
    text-align: center; 
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin: 50px 36px 60px 0px;
    padding-top: 50px;
}
.section-3-container:hover{
    border: 6px solid #FF900E;
    border-radius: 15px;
    background-color: orange;
    font-size: 20px;
    color: white;
}

/*-----------------
    Section-4
------------------*/
.section-4{
    margin-left: 15%;
    width: 1440px;

    margin-bottom: 30px;
}
.section-4-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;    
}
.section-4-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 40px;
}
.section-4-project{
    display: flex;
    gap: 24px;
    align-items: center;
}
.section-4-project .section-4-thumbnail img{
    width: 240px;
    height: 120px;
    border-radius: 8px;
}
.section-4-project-title{
    font-weight: 600;
    font-size: 35px;
    color: #131313;
    margin-bottom: 0;
}
/* ----------------
    Section - 5 
------------------- */
.section-5{
    margin-top: 100px;
    margin-left: 8%;
}
.sponsors-head{
    width: 1440px;
    text-align: center;
    margin-left: 4%;
    margin-bottom: 30px;
}
.sponsor-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.sponsor-description{
    text-align: center;
}
.sponsors-main{
    margin-bottom: 30px;
}
.sponsors-main img{
    padding-top: 50px;
    padding-left: 125px;
    mix-blend-mode: luminosity;
}
/* -------------
    Footer Part
--------------- */

.footer-description{
    width: 720px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 39px 410px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #424242;
    background-color: #FFF4E7;
    border-radius: 10px;
    margin-left: 10%;
    
}
/*---------------+--
Responsive For Mobile
--------------------*/

@media only screen and (max-width: 576px) {
    /* ----Header and Banner Part------ */
    body{
        width: 100%;
        margin: 0;
    }
    .header{
        width: 100%;
        height: 100%;
    }
    nav, nav ul{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    nav ul{
        padding-top: 0;
    }
    .nav-title{
        text-align: center;
        margin-left: 30px;
    }
    .banner-details{
        text-align: center;
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .banner-description{
        margin: 0 100px;
    }
    .banner-img img{
        width: 100%;
        margin-right: 50px;
        margin-left: 0;
    }

    /* ------------------
         Main Part
    -------------------*/
        
    /* ---Section-1--- */

    .section-1{
        flex-direction: column;
        width: 100%;
        margin: 20px;
    }
    .section-1-photos{
        grid-template-columns: repeat(1,1fr);
        padding-left: 0;
        grid-area: 20px;
    }
    .section-1-container{
        width: 350px;
        padding-left: 0;
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
        
    }
}